body,
html {
    margin: 0;
    padding: 0;
    scrollbar-width: none; /* Hides the scrollbar */
}

* {
    font-size: inherit;
    animation-play-state: inherit;
    user-select: none;
}

div::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

main {
    margin-bottom: auto;
    width: 100vw;
    height: 100vh;
}

.static-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.build-number {
    position: fixed;
    left: 0;
    bottom: 0;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    padding: 1px;
    border-top-right-radius: 5px;
    background-color: lightgray;
    font-family: monospace;
    text-decoration: none;
    color: black;
}

/*
Utils

 */


img.resource-img {
    width: 1.5em;
    height: 1.5em;
    border-top: 1px navajowhite solid;
    border-left: 1px navajowhite solid;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}

.no-pointer {
    pointer-events: none;
}

.pointer {
    cursor: pointer;
}

button {
    cursor: pointer;
    font-size: 0.8em;
}

button:disabled {
    cursor: not-allowed;
}

button.hover-color:hover {
    background-color: color-mix(in srgb, gray, transparent);
}

.user-select {
    user-select: revert;
}

.fit-content {
    width: fit-content;
    height: fit-content;
}

.hide-content * {
    opacity: 0;
}

.mover-linear {
    transition:
        left 1s linear,
        top 1s linear;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.center {
    transform: translate(-50%, -50%);
}

.first-child-grow :first-child {
    flex-grow: 1;
}

.hover-parent-display .hover-child-display {
    display: none;
}

.hover-parent-display:hover .hover-child-display {
    display: block;
}

button.flat-button {
    background: none;
    border: none;
}

.blur-behind {
    backdrop-filter: blur(5px); /* https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter */
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-50px);
    }
}

.modal-content {
    padding: 1rem;
}

.encyc-content-item {
    border-bottom: 2px gray solid;
    padding-bottom: 5px;
}
